Package: com.icraze.customplayer
Name: CustomPlayer
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 1.0.1
Architecture: iphoneos-arm
Description: Customise Your Media Player!
Maintainer: iCraze
Author: iCraze
Section: Tweaks
