<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			</dict>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ICRBannerCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CustomPlayer Options</string>
			<key>footerText</key>
			<string>If Changes Do Not Apply, Try Respringing Twice.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.customplayerprefs</string>
			<key>PostNotifcation</key>
			<string>com.icraze.customplayer-prefsreload</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Solid Colour</string>
            <key>detail</key>
            <string>ICRSolidController</string>
            <key>isController</key>
            <true/>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Gradient</string>
            <key>detail</key>
            <string>ICRGradientController</string>
            <key>isController</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Border</string>
            <key>detail</key>
            <string>ICRBorderController</string>
            <key>isController</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Lyricify Support</string>
            <key>detail</key>
            <string>ICRLyricifyController</string>
            <key>isController</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSLinkCell</string>
            <key>label</key>
            <string>Miscellaneous</string>
            <key>detail</key>
            <string>ICRMiscController</string>
            <key>isController</key>
            <true/>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Contact/Support</string>
		</dict>
		<dict>
			<key>big</key>
	    	<true/>
	    	<key>cellClass</key>
	    	<string>HBTwitterCell</string>
			<key>height</key>
	    	<integer>50</integer>
			<key>label</key>
			<string>Follow Me On Twitter</string>
	    	<key>user</key>
	    	<string>iCrazeiOS</string>
		</dict>
		<dict>
			<key>big</key>
	    	<true/>
	    	<key>cellClass</key>
	    	<string>HBLinkTableCell</string>
	    	<key>height</key>
	    	<integer>50</integer>
			<key>label</key>
			<string>PayPal</string>
			<key>url</key>
			<string>https://paypal.me/iCrazeiOS/2</string>
			<key>icon</key>
			<string>.png</string>
		</dict>
		<dict>
			<key>big</key>
	    	<true/>
	    	<key>cellClass</key>
	    	<string>HBLinkTableCell</string>
	    	<key>height</key>
	    	<integer>50</integer>
			<key>label</key>
			<string>Patreon</string>
			<key>url</key>
			<string>https://www.patreon.com/join/iCrazeiOS</string>
			<key>icon</key>
			<string>.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>email:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Email</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon/Banner Designer</string>
		</dict>
		<dict>
			<key>big</key>
	    	<true/>
	    	<key>cellClass</key>
	    	<string>HBTwitterCell</string>
			<key>height</key>
	    	<integer>50</integer>
			<key>label</key>
			<string>JannikCrack</string>
	    	<key>user</key>
	    	<string>JannikCrack</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>footerText</key>
			<string>© 2020 iCraze</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>CustomPlayer</string>
</dict>
</plist>
